<div style="text-align: center;">

<h1>Welcome to Forms</h1>

<form #userForm="ngForm">
    <div class="form-inline">
        <label><span style="color: red;" *ngIf="username.invalid">* </span> USERNAME : </label>
        <input type="text" class="form-control" required name="username" #username="ngModel" ngModel>
        <br>
        <span *ngIf="username.invalid && username.touched" style="color: red;">UserName is Required*</span>
        <br>
    </div>
    <div class="form-inline">
        <label><span style="color: red;" *ngIf="password.invalid">* </span> PASSWORD : </label>
        <input type="text" class="form-control" required name="password" #password="ngModel" ngModel>
        <br>
        <span *ngIf="password.invalid && password.touched" style="color: red;">Password is Required*</span><br>
    </div>
    <div class="form-inline">
        <label><span style="color: red;" *ngIf="id.invalid">* </span>USER ID : </label>
        <input type="text" class="form-control" required name="id" #id="ngModel" ngModel>
        <br>
        <span *ngIf="id.invalid && id.touched" style="color: red;">ID is Required*</span><br>
    </div>
    <div class="form-inline">
        <label><span style="color: red;" *ngIf="name.invalid">* </span> NAME : </label>
        <input type="text" class="form-control" required name="name" #name="ngModel" ngModel>
        <br>
        <span *ngIf="name.invalid && name.touched" style="color: red;">Name is Required*</span><br>
    </div>
    <div class="form-inline">
        <label><span style="color: red;" *ngIf="age.invalid">* </span> USER AGE : </label>
        <input type="text" class="form-control" required name="age" #age="ngModel" ngModel>
        <br>
        <span *ngIf="age.invalid && age.touched" style="color: red;">Age is Required*</span><br>
    </div>
    <div class="form-inline">
        <label><span style="color: red;" *ngIf="salary.invalid">* </span> SALARY : </label>
        <input type="text" class="form-control" required name="salary" #salary="ngModel" ngModel>
        <br>
        <span *ngIf="salary.invalid && salary.touched" style="color: red;">Salary is Required*</span><br>
    </div>
    <div class="form-inline">
        <label><span style="color: red;" *ngIf="desg.invalid">* </span> DESIGNATION : </label>
        <input type="text" class="form-control" required name="desg" #desg="ngModel" ngModel>
        <br>
        <span *ngIf="desg.invalid && desg.touched" style="color: red;">Designation is Required*</span><br>
    </div>
    <br>
    <div>
        <input type="submit" value="login" class="btn btn-success">
        <input type="reset" value="reset" class="btn btn-danger">
    </div>
</form>
</div>
