<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="home">KLU</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="home">Home</a></li>
      <li><a href="#">About </a></li>
      <li><a href="#">Contact</a></li>
      <li><a  routerLink="binding">Binding</a></li>
      <li><a  routerLink="directive">Directive</a></li>
      <li><a  routerLink="forms">Forms</a></li>
      <li><a  routerLink="rforms">Reactive Forms</a></li>
      <li><a  routerLink="service">Service Demo</a></li>
      <li><a  routerLink="pipe">Pipe Demo</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="login"><span class="glyphicon glyphicon-log-in"> Login</span></a></li>
      <li><a routerLink="register"><span class="glyphicon glyphicon-user"> Register</span></a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>